#-------------------------
# Operating Specific Junk Files
#-------------------------

# -Windows image file caches
# Thumbs.db
# ehthumbs.db
# Desktop.ini

# Recycle Bin used on file shares
# $RECYCLE.BIN/

# -Windows Installer files
# *.cab
# *.msi
# *.msm
# *.msp

# -Windows shortcuts
# *.lnk

# -Linux
# *~

# KDE directory preferences
# .directory

# -Linux trash folder which might appear on any partition or disk
# .Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
# .env
# .vagrant
# Vagrantfile

#-------------------------
# -Temporary Files
#-------------------------
# writable/
#-------------------------
# -User Guide Temp Files
#-------------------------
# user_guide_src/build/*
# user_guide_src/cilexer/build/*
# user_guide_src/cilexer/dist/*
# user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# -Test Files
#-------------------------
# tests/coverage*

# Don't save phpunit under version control.
# phpunit

#-------------------------
# -Composer
#-------------------------
# vendor/
# composer.lock

#-------------------------
# IDE / Development Files
#-------------------------

# -Modules Testing
# _modules/*

# -phpenv local config
# .php-version

# -Jetbrains editors (PHPStorm, etc)
# .idea/
# *.iml

# -Netbeans
# nbproject/
# build/
# nbbuild/
# dist/
# nbdist/
# nbactions.xml
# nb-configuration.xml
# .nb-gradle/

# -Sublime Text
# *.tmlanguage.cache
# *.tmPreferences.cache
# *.stTheme.cache
# *.sublime-workspace
# *.sublime-project
# .phpintel
# /api/

# -Visual Studio Code
# .vscode/

# /results/
# /phpunit*.xml
# /.phpunit.*.cache
writable/session/ci_session0a3f8c39582df3526efefdeca815eedfd5c4a148
writable/session/ci_session0ffd1f56fe9416126499c7f577fc3286ec937d81
writable/session/ci_session1d3a7aac85ea1b1281d3ad7ae56fd402c4476ae5
writable/session/ci_session24d4d00d5e1a1bcb5fc7d933a6741374aded26df
writable/session/ci_session34f79af8162621dcfb1e30def668fd76572e637f
writable/session/ci_session36a8e800d69bff0a40ffe3021ee5cc35ccff8a12
writable/session/ci_session425da2e23461a8107f215e8d181986e11bd0ea08
writable/session/ci_session98520860be3d374aafa42afd7d20c93c520789c6
writable/session/ci_sessionc86d270dcb0f35e6926546633d1deebaf1bc85ee
writable/session/ci_sessionce8cd8d432d8910241689a77050f91c68b04c4a6
writable/session/ci_sessiond4f28f701270a47ea67863f1f511076c6b3bfc6a
writable/session/ci_sessione9b4905e6632f0530e5dcfe366544bb3c2806739
writable/session/ci_sessione9cfdc591294ba59f09a540c61f9b288c16b4da6
writable/session/ci_sessionff9ef45eb3d060cab7f6b432c40cdd76247ed814
